<section id="news" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <!-- <h2 class="section-heading">News:</h2>
                  <ul>
                    {% assign posts=site.posts | where:"lang", page.lang %}
                    {% for post in posts reversed limit: 10 %}
                       <a style="color:orange" href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date_to_long_string }}<br />
                    {% endfor %}
                  </ul> -->
                <h2 class="section-heading">Timeline</h2>
                <p>
                        November, 2021: announcement of the 2022 edition<br />
                        January, 2022: opening of the Call For Papers</b></span><br />
                        April 15, 2022: closing of the Call For Paper<br />
                        May 1, 2022: notification to the speakers<br />
                        <span style="color:orange"><b>May 15, 2022: publication of <a href="https://cfp.pass-the-salt.org/pts2022/schedule/">the program</a></b></span><br />
                        June, 2022: opening of the booking interface<br />
                        July 4 to 6, 2022 : the conference :-)<br />
<!--                         Conference is now over. Slides and videos are available.
                   <a class="badge-link" href="#"><img src="/img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="#"><img src="/img/app-store-badge.svg" alt=""></a> -->
                </div>
            </div>
        </div>
    </div>
</section>
